<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Data</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Welcome to the database manager!</h1>
    <label>Choose from the following:
        <select name="choices" class="choices">
            <option value="select">Select one ...</option>
            <option value="search">Search</option>
            <option value="add">Add</option>
        </select>
    </label>
    <form action="" method="get" id="user"></form>
    <h3>Number of results: <%= num %></h3>
    <% if (num > 0) { %>
    <table>
        <tr>
            <th>Name</th>
            <th>Typing</th>
        </tr>
        <% for(let i=0; i < li.length; i++) { %>
            <tr>
                <td><%= li[i].name %></td> 
                <td><%= li[i].typing %></td>
            </tr>
        <% } %>
    </table>
    <%} %>
    <script src="main.js"></script>
</body>
</html>